#circle0, #circle4, #circle8 ,#circle12 {
	fill: #C03232;
}

#circle1, #circle5, #circle9 ,#circle13 {
	fill: #EF8080;
}

#circle2, #circle6, #circle10 ,#circle14 {
	fill: #7BE57B;
}

#circle3, #circle7, #circle11 ,#circle15 {
	fill: #289728;
}